 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            {% if page.subtitle %}
                            <h2 class="subheading">{{ page.subtitle }}</h2>
                            {% endif %}
                          </div>
                      </div>
                  </div>
              </div>

              <div class="container">
                  <div class="row">
                      <div class="col-lg-8 col-lg-offset-2">

                        {{ content }}

                        <hr>

                        <div class="clearfix">

                          {% if page.previous.url %}
                          <a class="btn btn-primary float-left" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.previous.title }}">&larr; Previous<span class="d-none d-md-inline">
                              Post</span></a>
                          {% endif %}
                          {% if page.next.url %}
                          <a class="btn btn-primary float-right" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.next.title }}">Next<span class="d-none d-md-inline">
                              Post</span> &rarr;</a>
                          {% endif %}

                        </div>
                      </div>
                    </div>
                </div>
              </div>
          </div>
