---
layout: default
---
  <div class="container">
    <div class="col s10">
      <div class="close-modal" data-dismiss="modal">
          <div class="lr">
              <div class="rl">
              </div>
          </div>
      </div>

      <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
                <div class = text-left>
                  <h2>{{ post.title }}</h2>
                  {% if post.method %}
                <h3 class = text-muted>Method: {{post.method }}</h3>
                {% endif %}
                </div>
                <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                <hr class="star-primary">
            </div>
        </div>

      <div class="post-content" itemprop="articleBody">
        {{ content }}
  </div>
</div>
</div>
